h1 {
    font-family: 'Vidaloka';
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    max-width: 650px;
    background-color: #f9f9f9;
}

img {
    width: 250px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.landing-page {
    width: 650px;
    height: 450px;
    position: fixed;
    top: 30%;
    left: 40%;
    transform: translate(-25%, -25%);
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.form-section {
    padding: 30px;
}

.login-form, .signup-form {
    margin-top: 30px;
}

.landing-button {
    border: none;
    background-color: #fff;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

.form-validation-message {
    color: #A91B0D;
    margin-top: 5px;
}